{% extends 'base.html' %}

{% block status %}
{% if statusmessage %}
{{ statusmessage }}
{% endif %}
{% endblock %}

{% block functionpage %}

<form method='post' action='/addword'>
  <table>
    <tr>
      <td>
	Word:
      </td>
      <td>
	<input type='text' name='word'>
      </td>
    </tr>
    {% for row in result %}
    <tr>
      <td>
	{{ row[1] }}:
      </td>
      <td>
	<input type='text' name='{{ row[1] }}'>
	<input type='hidden' name='{{ row[1] }}' value='{{ row[0] }}'>
      </td>
    </tr>
    {% endfor %}
  </table>
  <input type='hidden' name='posid' value='{{ posid }}'>
  <button type="submit">Add to Dictionary</button>
</form>

{% endblock %}
