<html>
  <head>
    <title> {{ config.APP_NAME }}</title>
  </head>
  <body>
    <h1>logged in as {{ username }}</h1>
    {% block status %}
    {% endblock %}
    <table border='5'>
      <tr>
	<td>
	  <br><a href='/showpos'>Add a word</a>
	  <br><a href='/showconfig'>Show Config</a>
	</td>
	<td>
	  {% block functionpage %}
	  {% endblock %}
	</td>
      </tr>
    </table>
    <form action="{{ logout_url }}" method="post">
      <button type="submit">Click here to log out</button>
    </form>
  </body>
</html>
