{% extends 'base.html' %}

{% block functionpage %}

{{ quiz_name }}

<br>

<form method='post' action='/quizzes/{{ quiz_data['quiz_id'] }}/exact'>
  <table>
    <tr>
      <td>
	word:
      </td>
      <td>
	{{ word }}
      </td>
    </tr>
    {% for attr in quiz_data.attributes %}
    <tr>
      <td>
	{{ attr['key'] }}:
      </td>
      <td>
	<input type='text' name='{{ attr.key }}_attribute_key'>
	<input type='hidden' name='{{ attr.key }}_attribute_id' value='{{ attr.id }}'>
      </td>
    </tr>
    {% endfor %}
  </table>
  <input type='hidden' name='word_id' value='{{ word_id }}'>
  <button type='submit'>Submit Answer</button>
</form>

{% endblock %}
